$c-template-page: #50DBA3;

.template-listing-wrapper {
  padding: 0 5%;
}

.template-listing {
  background: $c-template-page;
  color: darken($c-template-page, 40%);
}

.template-listing-header {
  margin-top: 2em;

  h1 {
    text-transform: uppercase;
    margin: 0;
    @include rem(font-size, 1.5);
  }

  p {
    margin-top: .7em;
  }

  @include sb-media( 45em ) {
    margin: 10em auto 0;
    width: 55%;
  }
}

.template-listing-index {
  text-transform: uppercase;

  @include sb-media( 45em ) {
    margin: 3em auto 0;
    width: 55%;
  }

  a {
    @extend %clearfix;
    text-decoration: none;
    color: darken($c-template-page, 40%);
    display: block;
    padding: .5em 0;
    font-weight: 700;

    &:hover {
      background: darken($c-template-page, 5%);
    }
  }

  ul {
    @extend %unstyled-list;
  }
  
  li {
    border-bottom: 1px dotted darken($c-template-page, 30%);
  }
}

.template-listing-page {
  @include sb-media( 50em ) {
    display: inline;
    float: left;
  }
}

.template-listing-status {
  font-size: .9rem;
  display: block;
  text-transform: none;
  font-weight: 400;
  font-style: italic;

  @include sb-media( 50em ) {
    display: inline;
    float: right;
  }
}

.template-listing-status-complete {
  color: #30661A;
}

.template-listing-status-review {
  color: #7E7E17;
}

.template-listing-status-progress {
  color: #BD5252;
}

.template-listing-sbLogo {
  margin-top: 5em;
  border-top: 3px solid darken($c-template-page, 40%);
  padding-top: 1em;

  @include sb-media( 45em ) {
    margin: 6em auto 0;
    padding-top: 1.5em;
    width: 55%;
  }

  img {
    max-width: 11em;
  }
}