.tool-list-item--container {
  @extend %clearfix;
  overflow: hidden;
  padding: 3em 1em;
  position: relative;
}

.tool-list-item--title, .tool-list-item--entry {
  opacity: 0.7;
  display: block;
  width: 50%;
  float: left;
}

.tool-list-item--title {
  @include rem( font-size, 2 );
  font-style: italic;
  font-weight: bold;
  text-align: right;
  padding-right: 1em;
}

.tool-list-item--entry {
  @include rem( font-size, 1.4 );
  display: none;
  line-height: 1.6;
  text-align: left;
  padding-left: 1em;

  @include sb-media(45.75em) {
    display: block;
  }

  a {
    color: #000;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
  }
}

.tool-list-item--expander-icon, .tool-list-item--expander {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 9em;
}

.tool-list-item--expander {
  transition: background-color ease-in-out .5s;
  background-color: rgba(0,0,0,.075);

  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.15);
  }

  a {
    @extend %is-visuallyhidden;
  }
}

.tool-list-item--expander-icon {
  transition: ease-in-out 0.2s;
  background-position: 50%;
  background-size: 40%;

  .tool-list_is-open & {
    transform: rotate(45deg);
  }
}

.tool-list-item--dropdown {
  background: linear-gradient(bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));

  // hidden by default unless the user
  // doesn't have JavaScript enabled
  .js & {
    display: none;
  }
}

.tool-list-item--dropdown-content {
  width: 65%;
  max-width: 40em;
  margin: 0 auto; 
  padding: 1em;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);

  &, a {
    color: #fff;
  }
}
