<section class="profile">
  <div class="profile-bio-wrapper">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshhemsley/128.jpg" 
      alt="Person Profile Pic" 
      class="profile-avatar">
      <h1 class="profile-name">{{profile_info.my_name}}</h1>
    <div class="twitter-wrapper">
      <a class="twitter-handle" 
        href="http://twitter.com/{{profile_info.twitter_name}}">
        {{profile_info.twitter_name}} 
      </a>
    </div>
  </div>
  <div class="profile-tagline">
    <p>{{profile_info.profile_tagline}}</p>
  </div>
</section>
