<section class="profile">
  <div class="profile-bio-wrapper">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshhemsley/128.jpg" 
      alt="Person Profile Pic" 
      class="profile-avatar">
    <h1 class="profile-name">Johnny Bananas</h1>
    <div class="twitter-wrapper">
      <a class="twitter-handle" 
        href="http://twitter.com/a_simpson">
        a_simpson
      </a>
    </div>
  </div>
  <div class="profile-tagline">
    <p>I love tools. Is it weird to love tools? 
    I think it is. I don't care. I love tools.</p>
  </div>
</section>
