.icon-plus {
  background-repeat: no-repeat;

  .svg & {
    background-image: url(/img/plus.svg);
  }

  .no-svg & {
    background-image: url(/img/plus.png);
  }
}

.icon-twitter {
  background-repeat: no-repeat;

  .svg & {
    background-image: url(/img/twitter.svg);
  }

  .no-svg & {
    background-image: url(/img/twitter.png);
  }
}
