.profile {
  font-family: Verdana, sans-serif;
  color: #5b5850;
}

.profile-bio-wrapper {
  margin: 0 auto;
  @include rem(margin-top, 2);
  @include rem(padding, 2, 0, 3, 0);
  position: relative;
  text-align: center;

  &:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 1px;
    background-color: #979797;
    margin: 0 auto;
  }
}

.profile-avatar {
  border-radius: 8px;
}

.profile-tagline {
  @include rem(margin, 2.5, 0);
  font-style: italic;
  text-align: center;
}

.twitter-handle {
  @include rem(padding, .2, 0, .4, 2.5);
  color: #5b5850;
  text-decoration: none;

  &:visited {
    color: #5b5850;
  }
}
